* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root {
    --background: #16181d;
    --primary: #22242c;
    --drawer: #1a1b21;
    --light-text: #9b9b9b;
    --footer: #191919;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--background);
}

.card {
    position: relative;
    width: 350px;
    height: 565px;
    background: var(--primary);
    border-radius: 15px;
    overflow: hidden;
    /* some finishing touches */
    border: 1px solid rgba(255,255,255,0.04);
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}

.card .imgBox {
    width: 100%;
    text-align: center;
}

.card .imgBox img {
    width: 180px;
    margin-top: 38px;
}

.drawer {
    position: absolute;
    height: 100%;
    bottom: -47%;
    background: var(--drawer);
    width: 100%;
    overflow: hidden;
    padding: 25px;
    border-radius: 15px;
}

.name {
    font-size: 27px;
    color: #fff;
    font-weight: 400;
    margin-left: 5px;
}

.name span {
    font-size: 17px;
    color: #777;
    font-weight: 500;
}

.looking {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 20px;
    overflow: hidden;
    color: var(--light-text);
    font-weight: 600;
    display: flex;
    margin-left: 5.2px;
}

.looking img {
    width: 18px;
    position: absolute;
    height: 18px;
    margin-top: 2px;
    margin-left: 10px;
}

.info {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    color: #f1f1f1;
}

.info .text {
    color: #777;
    font-weight: 500;
}

.footer {
    position: absolute;
    bottom: 0;
    background: var(--footer);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.left {
    color: #fff;
    font-weight: 400;
    opacity: 0.8;
}

.btn {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn .arrow {
    font-size: 20px;
}